{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Industrias Venado Predict - Dashboard</title>
    <script type="text/javascript">
    function autoLogin() {
        console.log('autoLogin function called');

        // Encuentra el iframe
        var iframe = document.getElementById('powerbi-iframe');
        console.log('iframe:', iframe);

        // Asegúrate de que el iframe ha cargado
        iframe.onload = function() {
            console.log('iframe loaded');

            // Espera un breve momento para asegurar que el contenido del iframe se haya cargado completamente
            setTimeout(function() {
                // Intenta encontrar el botón de iniciar sesión dentro del iframe
                var loginButton = iframe.contentDocument.querySelector('button[title="Iniciar sesión"]');
                console.log('loginButton:', loginButton);

                if (loginButton) {
                    console.log('loginButton found, clicking');
                    // Simula un clic en el botón de iniciar sesión
                    loginButton.click();
                } else {
                    console.error('No se encontró el botón de iniciar sesión.');
                }
            }, 2000); // Espera 2 segundos después de que el iframe se haya cargado
        };
    }

    // Ejecuta la función autoLogin cuando la página se haya cargado
    window.onload = autoLogin;
</script>

    
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'partials/_sidebar.html' %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'partials/_topbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row">
                        {% block content %}
                        {% endblock %}
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Produccion (Mensual)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                C/ {{ resultado_max_produccion.1 }}
                                                <img src="{% static 'img/' %}{{ resultado_max_produccion.0 }}.png" height="120" width="90">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Produccion (Anual)</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                C/ {{ resultado_max_produccion_anio.1 }}
                                                <img src="{% static 'img/' %}{{ resultado_max_produccion_anio.0 }}.png" height="120" width="60">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Disminucion de Produccion
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                        {{ resutaldo_disminucion_produccion.1 }}%
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: {{ resutaldo_disminucion_produccion.1 }}%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <img src="{% static 'img/' %}{{ resutaldo_disminucion_produccion.0 }}.png" height="120" width="60">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Crecimiento de Produccion
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                        {{ resutaldo_porcetaje_incremento.1 }}%
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: {{ resutaldo_porcetaje_incremento.1 }}%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <img src="{% static 'img/' %}{{ resutaldo_porcetaje_incremento.0 }}.png" height="120" width="60">
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">DASHBOARD & GRAFICOS - SALSAS KRIS</h1>
                    </div>
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <iframe 
                            id="powerbi-iframe"
                            title="DASHBOARD & GRAFICOS - SALSAS KRIS" 
                            width="1650" 
                            height="695.025" 
                            src="https://app.powerbi.com/reportEmbed?reportId=0ad93c69-c9d3-4583-afe2-2a5769a2e5ac&autoAuth=true&ctid=77cab36c-76b2-48c3-9c54-cb9e4ee09b72&permissions=allow&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly9XQUJJLUJPIFwxNzIwMl0iLCJlbWJlZEZlYXR1cmVzIjp7ImVtYmVkQm9vayI6ZmFsc2UsImVtYmVkRGF0YVRyYW5zZm9ybWF0aW9uIjpmYWxzZSwibmF0aXZlQ29udGV4dE1lbnUiOmZhbHNlLCJwYWdlTmF2aWdhdGlvbk1vZGUiOmZhbHNlLCJwYWdlU2xvb3RCYXNlZE5hdmlnYXRpb24iOmZhbHNlLCJwYWdlU2xvb3RCYXNlZE5hdmlnYXRpb25DdXJzb3IiOmZhbHNlLCJxdWlja1RyYW5zZm9ybWF0aW9uIjpmYWxzZX0sImVuYWJsZUNoYXRIb3QiOmZhbHNlLCJoaWRlUmVwb3J0RmlsdGVyUGFuZWwiOmZhbHNlLCJoaWRlQXV0b0ZpbHRlcnNQYW5lIjpmYWxzZSwiaGlkZVJlYm9vdFdpZGdldHMiOmZhbHNlLCJkaXNhYmxlSW5zaWdodCI6ZmFsc2UsInN1cHBvcnRFRiI6ZmFsc2UsImVkaXRBY3Rpb25EYXRhQ2FsbGJhY2siOmZhbHNlfX0%3d" 
                            frameborder="0" 
                            allowFullScreen="true">
                        </iframe>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Industrias Venado 2022 </span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Esta seguro de cerrar sesion?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Tendremos que verificar tu identidad la proxima vez que inicies sesion en el sistema.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="{% url 'home' %}">Cerrar sesion</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>
