{% extends 'base.html' %}
{% load plotly_dash %}
{% load static %}

{% block content %}
<style>
    .image-popup {
        margin-right: 10px;
    }

    .image-popup:hover .image-description {
        display: block;
    }

    .image-description {
        display: none;
        margin-top: 10px;
        text-align: center;
    }
    .custom-button {
        text-decoration: none !important;
        outline: none !important;
        color: inherit !important;
        background-color: transparent !important;
        border: none !important;
        padding: 0 !important;
    }
    .image-popup a {
        text-decoration: none;
        color: inherit;
    }
    .custom-image {
        border: none !important;
        outline: none !important;
    }
</style>

<div class="container">
    <div class="text-center">
        <h2 class="text-gray-900" style="font-weight: 900; margin: 0; padding: 0; border: 0; outline: 0; font-size: 40px; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; vertical-align: baseline; background: transparent; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #375fa7!important;">
            LÍNEA DE PRODUCTOS - PANIFICACION KRIS
        </h2>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center">
        <div class="p-2 image-popup">
            <div class="image-popup">
                    <button class="btn btn-link open-modal custom-button" data-toggle="modal" data-target="#productModalmostaza">
                <img src="{% static 'img/LevaduraKRIS.png' %}" height="380" width="350" alt="Polvo para hornear 57g" class="custom-image">
                <div class="image-description">KRIS POLVO PARA HORNEAR 57g</div>
                    </button>
            </div>
        </div>
            <div class="p-2 image-popup">
                <div class="image-popup">
                    <button class="btn btn-link open-modal custom-button" data-toggle="modal" data-target="#productModal">
                        <img src="{% static 'img/gelatinasinsabor.png' %}" height="350" width="280" alt="Gelatina sin sabor 42gr " class="custom-image">
                        <div class="image-description">KRIS GELATINA SIN SABOR 42g</div>
                    </button>
                </div>
            </div>
    </div>
    <!-- Contenido de la ventana emergente -->
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const images = document.querySelectorAll('.image-popup');

        images.forEach(function(image) {
            image.addEventListener('mouseenter', function() {
                this.style.transform = 'scale(1.1)';
            });

            image.addEventListener('mouseleave', function() {
                this.style.transform = 'scale(1)';
            });
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
