{% load static %}
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style = background:darkred >

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}" style= background-color:darkred>
                <div class="sidebar-brand-icon rotate-n-15">

                </div>
                             <img class="img-profile rounded-circle"
                                    src=" {% static "img/grupo-venado-historia.png" %}" height="60" width="58">
                <div class="sidebar-brand-text mx-3">VENADO PREDICT <sup></sup>

                </div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0" style=background-color:white>

            <!-- Nav Item - Dashboard -->

            <!-- Divider -->


            <!-- Heading -->

            <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard' %}" style="background-color: darkred">

                    <span> Inicio</span></a>
            </li>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo" >

                    <span>Pronóstico de produccion </span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded" >
                        <h6 class="collapse-header">LINEA DE PRODUCTOS :</h6>
                        <a class="collapse-item" href="{% url 'marcas' %}" >Salsas KRIS</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link {% if nombre_acceso == "Usuario marketing" %}disabled{% endif %}" href="charts.html" style="background-color: darkred">
                    <span>Gestión Producción</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider" style=background-color:white>
            <!-- Heading -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages" style=background-color:darkred>
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Panel de control </span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'Usuarios' %}">Modulo usuarios</a>
                        <a class="collapse-item" href="{% url 'reporteproduccion' %}">Reporte produccion</a>
                        <a class="collapse-item" href="{% url 'reportedistribucion' %}">Reporte distribucion</a>
                        <a class="collapse-item" href="forgot-password.html">Historial prediccion</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#logoutModal" style=background-color:darkred>
                    <i class="fas fa-fw fa-table"></i>
                    <span>Cerra sesion</span></a>
            </li>
        </ul>